body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d5cabd;
}

h2 {
  color: #559198;
  text-align: center;
}

#container {
  width: 75vh;
  height: 75vh;
  margin: 1vh auto 1vh;
}

#board {
  width: 100%;
  height: 100%;
  display: grid;
  border: 0.5vh solid #559198;
  margin: 2vh auto 2vh;
}

#board div {
  margin: 0.5px;
}

.buttons {
  text-align: center;
}

.item {
  background-color: white;
}

